<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openCourseOnClassroom()">
    <span>Open in Google Classroom</span>
  </button>
  <button mat-menu-item (click)="startUploadFile()">
    <span>Upload Students From Neptun</span>
  </button>

  <input
    id="fileInput"
    type="file"
    style="display: none"
    (change)="handleFileUpload($event.target.files)"
  >
</mat-menu>