<mat-card class='centeredPanel'>
  <mat-card-header style="justify-content: center;">
    <mat-card-title>
        Registration
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      In order to have access to <b>your Google Classroom</b>, register by authenticate using <b>your Google Account</b>.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color='primary' class='loginButton' (click)='doRegistration()'>
      Registration
    </button>
  </mat-card-actions>
</mat-card>