/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
  background-color: white;
  min-width: 0 !important;
}

.centeredPanel {
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loginButton {
  width: 40%;
}

.spacer {
  flex: 1 1 auto;
}