<div class="mat-elevation-z8">
  <table mat-table [dataSource]="students">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student"> {{student.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <mat-paginator
    [length]="studentCount"
    [pageSize]="10"
    [pageSizeOptions]="[10, 50, 100, 500]">
  </mat-paginator>
</div>